# Prerequisites
*.d

# Misc
/obj
/build/data*
*.dat
*.rec
build.7z
build.zip

# Executables
*.exe

# MSVC trash
msvc2003/CSE2.ncb
msvc2003/CSE2.suo
msvc2003/Debug
msvc2003/Release
msvc2003/Debug (Japanese)
msvc2003/Release (Japanese)
*.aps
